* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --textColor-p: #E1E1E6;
  --buttonColor-b: #02799D;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
}

#app {
  padding: .6rem  10rem 0;
  z-index: +1;
  color: white;
  display: grid;
  place-items: center;
  align-content: center;
  height: 80vh;
}

button {
  font-weight: 700;
  font-size: 1.4rem;
  background-color: transparent;
  padding: 1.2rem 3.2rem;
  border-radius: 1rem;
  border: var(--textColor-p) 2px solid;
  color: var(--textColor-p);
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--textColor-p);
  color: var(--buttonColor-b);
}


nav {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  margin: 4rem 0 0 7rem;
}

h1 {
  font-size: 5rem;
  font-family: 700;
  line-height: 6rem;
  text-align: center;
}

p {
  font-size: 1.8rem;
  font-family: 400;
  line-height: 2.9rem;
}

.message {
  display: grid;
  justify-items: start;
}

.message.page {
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "h1 img"
  "p img";
}

h1{
  grid-area: h1;
}

p {
  grid-area: p;
}

.message h1 {
  margin-bottom: 1.6rem;
}


#logo {
  width: 5rem;
  height: 4rem;
}

h1,
p {
  color: var(--textColor-p);
}

a {
  text-decoration: none;
  color: var(--textColor-p);
  cursor: pointer;
  padding: 0 1rem;
  font-weight: 400;
  font-size: 2.1rem;
}

a:focus {
  font-size: 2.4rem;
  font-weight: 700;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}
